<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loan Management</title>
    <meta charset="utf-8" />
    <style type="text/css">
        body {
            background-color: beige;
            font-family: Verdana, Arial;
            margin: 50px;
        }

        form {
            padding: 10px;
            border-style: solid;
            width: 250px;
        }
    </style>
</head>
<body>
    <p>Loans Avaiable for Review</p>
    <table style="width:100%;margin-bottom: 2.5em">
        <tr>
            <th>Name</th>
            <th>Loan Request</th>
            <th>Approve</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td style="text-align:center;"><input type="checkbox" name="name1" />&nbsp;</tdstyle="text-align:center;">
        </tr>
        <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td style="text-align:center;"><input type="checkbox" name="name1" />&nbsp;</tdstyle="text-align:center;">
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
            <td style="text-align:center;"><input type="checkbox" name="name1" />&nbsp;</tdstyle="text-align:center;">
        </tr>
    </table>

    <button type="button">Submit Approvals</button>

</body>
</html>
